@font-face {
	font-family: 'Razed Trend';
	src: url(../../assets/fonts/RazedTrend.woff2) format('woff2'),
	url(../../assets/fonts/RazedTrend.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}